.flex-container {
  width: 80%;
  padding:5px;
}

.content-align {
  width: 100%;
}

.row {
  margin-left: 0.8em!important;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row h2 {
  color: white;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 18px;
}

.flex-col img {
  width: 150px;
  height: 200px;
}

.user-welcome {
  float: right;
}

.movie-popup img {
  width: 296px;
  height: 320px!important;
  padding-top: 30px;
}

.movie-popup {
  display: none;
  opacity: 0;
  animation: fadeInBox 0.5s ease-in;
  background-color: #fff;
  min-width: 30%;
  max-width: 50%;
  min-height: 50vh;
  max-height: 70vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 20vh;
  margin: 0 auto;
  z-index: 300;
  overflow: scroll;
  color: black;
}

.movie-img {
  width:85%;
  height:85%;
  border-radius:5px;
}

.colored-border {
	border-style:solid;
	border-width:12px;
	border-color:rgb(87, 183, 235);
}

.colored-border-img {
	border-style:solid;
	border-width:5px;
	border-color:rgb(87, 183, 235);
}

.solid-border {
  border-style:solid;
  border-width:1px;
  border-color:white;
}

.mobile-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  min-height: 100vh;
  width: 100%;
  z-index: 50;
  display: none;
  top: 0;
}

.stop-scrolling {
  overflow-y: hidden;
}

@keyframes fadeInBox {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.x-nav:before, .x-nav:after {
  top: 6px;
}

.x:before, .x:after{
    content:'';
    position:absolute;
    width:20px;
    height:2px;
    background-color:white;
    border-radius:1px;
}

.x:before{
    transform:rotate(45deg);
    left: 2px;
}
.x:after{
    transform:rotate(-45deg);
    left: 2px;
}

.x-movie:before, .x-movie:after {
  background-color: #000;
  display: block;
}

.exit-member-info {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  margin: 1.2em 0 0 .5em;
}
